.root {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #00c9a9;
    position: relative;
    min-width: fit-content;
    min-height: max-content;
}

.container {
    position: relative;
}

.switch {
    height: 180px;
    width: 350px;
    background-color: #fff3f6;
    border-radius: 100px;
    padding: 10px;
    transition: all 0.2s ease-in;
    cursor: pointer;
    position: relative;
    z-index: 2;
}

.slider {
    height: 160px;
    width: 160px;
    background-color: #ff645c;
    border-radius: 50%;
    transition: all 0.2s ease-in;
    z-index: 1;
    /* transform: translateX(2%); */
    /* transform: translateX(105%); */
}

.bearSection {
    position: absolute;
    cursor: auto;
    z-index: 1;
    /* top: -75%; */
    top: -32%;
    transform: scale(0.7);
    right: 0%;
    transition: all 0.2s 0.5s ease-in;
}

.bearHand {
    position: absolute;
    top: -2%;
    right: 12.5%;
    transform: scaleY(0) rotateX(30deg);
}

.handsONAnimation {
    animation: handsOn 1s ease-out 0.5s forwards;
    transform-origin: top;
}

@keyframes handsOn {
    0% {
        transform: scaleY(0.3) rotateX(30deg);
    }
    40% {
        transform: scaleY(1) rotateX(0deg);
    }
    60% {
        transform: scaleY(1) rotateX(0deg);
    }
    100% {
        transform: scaleY(0.3) rotateX(30deg);
    }
}

.msg {
    position: absolute;
    top: -30%;
    left: 80%;
    background-color: #fff;
    padding: 1rem 3rem;
    font-size: 2rem;
    border-radius: 10px;
    animation: dialogue 1s ease-in 0.5s forwards;
    opacity: 0;
}

@keyframes dialogue {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.msg::after {
    content: '';
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid #fff;
    position: absolute;
    left: 10px;
    top: 99%;
}

@media screen and (max-width: 650px) {
    .container {
        transform: scale(0.7);
    }
}